@import url('https://v1.fontapi.ir/css/Sahel');

* {
  font-family: Sahel;
}
:root {
  scrollbar-color: #01bbbe #2f2b3f;
  scrollbar-width: thin;
}
ul::-webkit-scrollbar-thumb {
  border-radius: 10px ;
}
body {
  direction: rtl;
  background-color: #302c40;  
}
.row {
  margin: 0 !important;
}
#app {
  background-color: #262232;
  color: white;
}

.Box {
  margin-top: 2rem;
  width: 50%;
  padding: auto;
  background-color: #302c40;
}
.menu-item:hover {
  color: white !important;
  font-weight: 400;
}

.menu-item-active {
  margin: 1.3rem 0.5rem 0.5rem 0.5rem;
  color: #FFFF !important;
  text-shadow: 2px 3px rgba(48, 44, 64, 0.5);
  transition: all 0.5s;
}
.menu-item-active::before {
  content: "\a0";
  display: block;
  padding: 2px 0;
  line-height: 1px;
  border-top: 2px solid #f7972a; 
  margin-top: -5px;
}
.menu-item {
  margin: 1.3rem 0.5rem 0.5rem 0.5rem;
  color: #b6dbff !important;
  transition: all 0.5s;
}

a {
  text-decoration: none !important;
}

.menu-items {
  display: flex;
  padding-left: 4rem;
  position: absolute;
}

.menu-active {
  width: 25rem !important;
  border-radius: 2rem 2rem 2rem 2rem !important;
}

.menu-icon {
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  width: max-content !important;
  margin-left: 12.5px;
  margin-top: 12.5px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2rem 2rem 2rem 2rem;
  background: #bfbfbf;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu-div {
  direction: ltr;
  display: flex;
}

.menu {
  transition: all 0.7s !important;
  background: linear-gradient(to right, #0081ff 50%, #0045ff 100%);
  width: min-content;
  width: 60px;
  height: 60px;
  border-radius: 1.25rem 50% 50% 50%;
  display: flex;
}

.main-title {
  color: #f1f2f4;
  position: relative;
  width: max-content;
  margin-top: -4rem;
  margin-bottom: 1rem;
}

.main-title::before {
  content: '';
  background-color: #304CFD;
  border-radius: 0.5rem;
  height: 0.3125rem;
  position: absolute;
  bottom: -1.0625rem;
  right: 0;
  width: 5.125rem;
  z-index: 1;
}

.main-text {
  text-align: justify;
}

.v-icon:hover {
  color: #0D86FF !important;
}

.sidebar-box {
  text-align: right;
}



.skill-text:hover {
  background-color: #3a344c;
}

.skill-text {
  transition: all 0.5s;
  cursor: context-menu;
  padding: 6px 20px 6px 20px;
  font-size: 15px;
  text-align: center;
  vertical-align: inherit;
  background-color: #272333;
  border-radius: 2rem;
}

.skill-box {
  box-shadow: rgba(32, 29, 50, 1);
  width: 100%;
}

.title-name {
  font-size: 30px;
  font-weight: 600;
}

.main {
  text-align: center !important;
  margin-top: 5rem;
  width: 100%;
  grid-gap: 5rem;
  max-height: 100% !important;
}

.avatar {
  border-radius: 3rem;
  filter: drop-shadow(0px 24px 24px rgba(32, 29, 42, 0.3));
  width: 200px;
  height: auto;
  margin-top: -8rem;
  transition: all 1.5s;
}

.card-main {
  margin-left: auto;
  background-color: #302c40;
  border-radius: 1rem;
  box-shadow: 0px 40px 50px rgba(32, 29, 50, 1) !important;

}

.card-right {
  transition: all 0.7s;
  margin-right: auto;
  position: relative;
  height: max-content;
  background-color: #302c40;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 40px 50px rgba(32, 29, 50, 1) !important;
}

.mt-10P {
  margin-top: 10em;
}

.v-application--wrap {
  background-image: url('~@/assets/images/triangles-top.svg'), url('~@/assets/images/triangles-bottom.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: inherit;
}

@media only screen and (max-width: 600px) {
  .menu-item {
    font-size: 12px;
    margin: 1.3rem 0.4rem 0.4rem 0.4rem;
  }

  .menu-item-active {
    font-weight: 400 !important;
  }
}

@media only screen and (max-width: 1903px) {
  .card-right {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
    .menu{
      border-radius: 50% 50% 50% 50%;
      position: fixed;
      top: 10px;
      left: 10px;
      opacity: 100% !important;
      background: linear-gradient(to right, #0081ff 50%, #0045ff 100%);
    }
    .menu-items{
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-left: -30px;
    }
    .menu-active{
      left: 5px !important;
      right: 5px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      opacity: 1 !important;
      width: max-content;
      text-align: center;
      box-shadow: 0px 40px 50px rgba(32, 29, 50, 1);
    }
  .main-title {
    margin-top: 2rem;
  }
}